aiohttp
argparse
asyncio
datasets
packaging
python-dotenv
halo
prettytable
numpy
pandas
requests
torch
transformers==4.40.0
bittensor==6.10.1
matplotlib
scikit-learn
tqdm
huggingface_hub
pydantic==1.10
rich
safetensors
wandb
sentencepiece
jinja2>=3.0.0